.register form{
    display: flex;
    flex-direction: column;
    background-color:rgb(247, 137, 125);
    padding:5px;
    border: 1px solid skyblue;
    border-radius: 5px;
}
.register form input{
    margin: 3px;
    border: 1px solid skyblue;
    border-radius: 5px;
    padding: 3px;
}