.addpackage{
    padding: 50px 0px;
    background-image:url(https://i.ibb.co/H7qt9F8/banner22.jpg);

}
.addpackage form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    margin: 0 20px;
    border:1px solid rgb(149, 232, 243)
}
.bgStyle{
    padding: 25px 0px;
    background-color: rgba(137, 195, 243, 0.514);
    border-radius: 5px;
}
.addpackage form input, textarea{
    margin: 6px 0px;
    width: 80%;
    border: 1px solid rgb(149, 232, 243);
    border-radius: 5px;
    padding: 6px;   
}