.addpackage{
    padding: 50px 0px;
    background-color:lightcyan;
}
.addpackage form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    margin: 0 20px;
    border:1px solid rgb(149, 232, 243)
}
.addpackage form input, textarea{
    margin: 6px 0px;
    width: 80%;
    border: 1px solid rgb(149, 232, 243);
    border-radius: 5px;
    padding: 6px;   
}